/*COMMON*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    margin: 0 auto;
}

img{
    max-width: 100%;
    object-fit: cover;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.grey{
    color: lightslategray;
}

.check{
    color: #0061ff;
}
/*PADDING*/
.pd-top-50{
    padding-top: 50px;
}

.pd-top-15{
    padding-top: 15px;
}

.pd-top-120{
    padding-top: 120px;
}

.pd-btm-20{
    padding-bottom: 20px;
}

.pd-btm-40{
    padding-bottom: 40px;
}

.pd-15-xy{
    padding: 15px;
}
.pd-top-30{
    padding-top: 30px;
}
.pd-r-15{
    padding-right: 15px;
}
/*DISPLAY*/
.flex{
    display: flex;
}
.inline-b{
    display: inline-block;
}
.blck{
    display: block;
}
/*POSITION*/
.fixed{
    position: fixed;
    top: 0;
    left: 0;
}
.abs{
    position: absolute;
}
.rel{
    position: relative;
}

/*FLEX PROPERTIES*/
.wrap{
    flex-wrap: wrap;
}
.align-y{
    align-items: center;
}

.space-ev{
    justify-content: space-evenly;
}
.space-bet{
    justify-content: space-between;
}
.gap-col{
    gap: 8px;
}



/*HEADER*/
.head{
    width: 100%;
    min-height: 60px;
    background-color: white;
    justify-content: space-between;
    
    z-index: 999;
}

.left-head{
    min-height: inherit;
}

.right-head{
    min-height: inherit;
}

.serv-top{
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.serv-top > li{
    margin-right: 10px;
}

.start{
    display: inline-block;
    background-color: #0061ff;
    padding: 10px 15px;
    color: white;
}

/*BIG CONTAINER*/
.hero{
    width: 100%;
    background-color: #b4d0e7;
}
.container-large{
    width: 70%;
    margin: 0 auto;
}

.mega-title{
    font-size: 3.2rem;
    font-weight: 800;
}
.hero-sect{
    justify-content: center;
    font-size: 0.9rem;
}

.transfy{
    transform: translateY(10%);
}
.freetry{
    background-color: #0061ff;
    padding: 10px;
    color: white;
}
.arrow{
    height: 50px;
    width: 50px;
    font-size: 2rem;
    color: black;
    
    bottom: 0;
    left: 0;
}
/*MAIN SECTION */
.common-cont{
    width: 60%;
    margin: 0 auto;
}

.common-title{
    font-size: 2rem;
}

.top-lay{
    width: 100%;
    height: 100px;  
    
}
/*Fixare stile di Radio*/
.form{
    padding-top: 30px;
    gap: 10px;
}
/*COLONNE 3*/
.container-col{   
    margin: 10px 0;
    gap: 5px;
}
.texta{
    border: 1px solid lightgray;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.col{
    width: calc(100% / 3);  
}

.dir-col{
    flex-direction: column;
}

.base-lay{
    width: 100%;
    margin-top: 50px; 
}

.card > ul{
    font-size: 0.75rem;
}

.stailist > li{
    padding-bottom: 25px;
}


.stailist > li > h3{
    font-size: 1.2rem;
    font-weight: 600;
}
.ndstailist > li{
    padding-top: 10px;
    padding-bottom: 15px;
}
/*Scelta del piano*/
.choice{
    background-color: #0061ff;
    color: white;
    font-size: 0.7rem;
}

/*For anchorage tag in Div*/
.styleblue{
    text-decoration: underline;
    color: blue;
}
/*For strong content*/
.bold{
    font-weight: 700;
}
/*Interrompo il flusso*/
.hrstyle{
    margin-top: 20px;
    border: 1px solid lightgray;
    width: 30px;
}
/*Fixing icona sotto testo*/
.list{
    align-items: flex-start;
    gap: 5px;
}
/*Styling Base lay*/
.base-lay{
    border: 1px solid lightgray;
}
.base-lay > .texta{
    border: none;
    border-bottom: 1px solid lightgray;
}

.lft-lay{
    width: 70%;
}

.under-p{
    font-size: 0.7rem;
}

/*COLONNA BIG AND SMALL*/
.lrgandsmall{
    width: 100%;
    margin-top: 100px;

    
    border: 3px solid violet;
}

.big-col{
    width: 65%;
    height: 100%;
    border: 1px solid green;
    
}

.small-col{
    width: 35%;
    height: 100%;
    border: 1px solid rgb(255, 0, 162);
}

.link-small{
    border: 1px solid black;
    font-size: 0.8rem;
}

.link-small.texta{
    width: 60%;
}

/*SECONDA PARTE MAIN SECT*/
.inter-title{
    padding-top: 100px;
    padding-bottom: 20px;
}
/*CLASSE PER GRANDEZZA DEL PARAGRAFO IN sezioni LefttoRight and Colonne * 6 */
.medium-p{
    font-size: 0.7rem;
    line-height: 1rem;
}

/* USO IL CONTAINER UGUALE A SOPRA MA COLONNE DIFFERENTI */
.col-sm{
    margin: 0 auto;
    width: calc(100% / 3 - 5px);
}

.card{
    height: 100%;
    width: 100%;
    
    padding: 10px;
    
}

.base-col{
    width: calc(100% / 3);
    flex-grow: 0.5;
    height: 80px;

    
    border: 1px solid black;
}

/*LOGO SECTION*/
.logo-section{
    margin-top: 20px;
    width: 100%;
    background: aquamarine;
}

.logos{
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.part-logo{
    width: calc(100%  / 3) ;
    height: 100%;
    border: 1px solid black;
}

.col-logo{
    width:calc(100% / 2);
    padding-bottom: 50%;
    position: relative;

    border: 1px solid black;
}

.inner-logo{
    width: 100%;
    height: 100%;
    position: absolute;
}

/*Dropbox Business*/
.drop-bus-title{
    color: #61082b ;
}

.mini-wrap{
    width: 100%;
    
    background-color: red;
}

.lrgandsmall.light{
    height: 100px;
    margin-bottom: 10px;
}

/*FAQ*/

.faq{
    height: 250px;
    padding-bottom: 20px;
}

.faq-cont{
    height: 100%;
    width: 100%;
    background-color: black;
    
}
/*FOOTER*/
.footend{
    width: 100%;
    height: 300px;
    background-color: black;
}